li{
    color: #626262;
    display: inline-block;
    margin-left: 125px;
    
}
.Life{
    margin-left: 23%;
 
}
li:hover{
   color:#03a9f4 ;
}
span{
    color: #b4ad9e;
    display: block;
    margin-top: 3%;
   font-family: Arial;
}
button{
    border: 1px solid #626262;
    padding:15px 40px 15px 40px; 
    margin: 0% 43% 0% 43%;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    color: #626262;
}
.second{
    margin: 30px 60px 30px 60px;
    width: 435px;
    height: 650px;
    display: inline-block;
    margin-left: 35px;
    margin-right: 50px;
}
.third{
    margin: 30px 60px 30px 60px;
    width: 435px;
    height: 650px;
    display: inline-block;
    margin-left: 50px;
    margin-right:35px;
}
p{
    font-size:15px;
    color: #626262;
}
h2{
    font-family: 'Frank Ruhl Libre';
    font-size: 30;
    color: #626262;
}
div img{
    width: 435px;
    height: 321px;
}
.kolya{
    margin: 10px 30px 10px 130px;
}


